<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BitFlagConfiguration" type="BitFlags.BitFlagConfiguration, BitFlags"/>
  </configSections>

  <BitFlagConfiguration>
    <BitFlagCollection>
      <BitFlagGroup name="Epson Status Codes">
        <BitFlags>
          <BitFlag value="0x00000001" name="Device not responding" description="Device not responding"/>
          <BitFlag value="0x00000002" name="Print complete" description="Print complete"/>
          <BitFlag value="0x00000004" name="Status of drawer kick connector 3rd pin became high" description="Status of drawer kick connector 3rd pin became high"/>
          <BitFlag value="0x00000008" name="Offline status" description="Offline status"/>
          <BitFlag value="0x00000010" name="The main pocket is nearly full" description="The main pocket is nearly full"/>
          <BitFlag value="0x00000020" name="Cover is open" description="Cover is open"/>
          <BitFlag value="0x00000040" name="Paper feed switch is feeding paper" description="Paper feed switch is feeding paper"/>
          <BitFlag value="0x00000080" name="The sub pocket is nearly full" description="The sub pocket is nearly full"/>
          <BitFlag value="0x00000100" name="Waiting for cut sheet ejection" description="Waiting for cut sheet ejection"/>
          <BitFlag value="0x00000200" name="Panel switch is ON" description="Panel switch is ON"/>
          <BitFlag value="0x00000400" name="Recoverable errors generated" description="Recoverable errors generated"/>
          <BitFlag value="0x00000800" name="Auto-cutter error occurred" description="Auto-cutter error occurred"/>
          <BitFlag value="0x00002000" name="Unrecoverable error occurred" description="Unrecoverable error occurred"/>
          <BitFlag value="0x00004000" name="Auto-recovery error occurred" description="Auto-recovery error occurred"/>
          <BitFlag value="0x00010000" name="The card is not inserted into the PhotoID detector" description="The card is not inserted into the PhotoID detector"/>
          <BitFlag value="0x00020000" name="No paper in the roll paper near end" description="No paper in the roll paper near end"/>
          <BitFlag value="0x00040000" name="No paper in the eject detector" description="No paper in the eject detector"/>
          <BitFlag value="0x00080000" name="No paper in the roll paper end detector" description="No paper in the roll paper end detector"/>
          <BitFlag value="0x00200000" name="No paper in the intermediate detector TM-J9000 No paper in TOF detector" description="No paper in the intermediate detector TM-J9000 No paper in TOF detector"/>
          <BitFlag value="0x00400000" name="No paper in the ASF detector" description="No paper in the ASF detector"/>
          <BitFlag value="0x01000000" name="Cut sheet is not selected" description="Cut sheet is not selected"/>
          <BitFlag value="0x02000000" name="Printing is disabled for cut sheet" description="Printing is disabled for cut sheet"/>
          <BitFlag value="0x04000000" name="Validation is not selected" description="Validation is not selected"/>
          <BitFlag value="0x08000000" name="Printing is disabled for validation" description="Printing is disabled for validation"/>
          <BitFlag value="0x20000000" name="Waiting for cut sheet insertion" description="Waiting for cut sheet insertion"/>
          <BitFlag value="0x40000000" name="No paper in the paper length detector" description="No paper in the paper length detector"/>
        </BitFlags>
      </BitFlagGroup>
      <BitFlagGroup name="IQA1 Tests">
        <BitFlags>
          <BitFlag value="0x00000001" name="Image Format Error" description="The image is not recognized as a valid TIFF, or the TIFF tags are not correct."/>
          <BitFlag value="0x00000002" name="Front Image Format Error" description="The TIFF tags for the front are invalid, missing or the resolution is not 200 or 240 dpi."/>
          <BitFlag value="0x00000004" name="Back Image Format Error" description="The TIFF tags for the back are invalid, missing or the resolution is not 200 or 240 dpi."/>
          <BitFlag value="0x00000008" name="Front Image Data Error" description="The front image cannot be decoded. The Group IV compressed data has an error and the image failed decompression."/>
          <BitFlag value="0x00000010" name="Back Image Data Error" description="The back image cannot be decoded. The Group IV compressed data has an error and the image failed decompression."/>
          <BitFlag value="0x00000020" name="Too Few Dream Characters" description="Not enough MICR characters can be read from the image. DREAM reads less than nine MICR characters."/>
          <BitFlag value="0x00000040" name="Too Many Dream Characters" description="Too many MICR characters were read from the image. Reads more than 60 MICR characters."/>
          <BitFlag value="0x00000080" name="Dream Reject Percentage Too High" description="Too many of the successfully-read MICR characters are reject characters. Default is set at 50% which means that 50% of the MICR characters need to be good to pass the test."/>
          <BitFlag value="0x00000100" name="Front Density Too High" description="The front image is predominantly black, resulting in a very poor image. If more than 50% of the front image pixels are black, it is a bad image."/>
          <BitFlag value="0x00000200" name="Front Density Too Low" description="The front image is predominantly white, resulting in a nearly blank image. If the front image is lower than 3%, than it is virtually white."/>
          <BitFlag value="0x00000400" name="Back Density Too High" description="The back image is predominantly black, resulting in a very poor image. If more than 35% of the back image pixels are black, it is a bad image."/>
          <BitFlag value="0x00000800" name="Back Density Too Low" description="The back image is predominantly white, resulting in a nearly blank image. If the back image is lower than .3%, then it is virtually white."/>
          <BitFlag value="0x00001000" name="Excessive Skew" description="The image has been rotated excessively (results in black diagonal corners on displays and statements). The default is if the image is skewed more than 2.3 degrees from the baseline MICR line it is considered excessive."/>
          <BitFlag value="0x00002000" name="Front Image Too Narrow" description="The front image is not wide enough (may be cropped). It is set if the image is less than the minimum width of 5.5 inches."/>
          <BitFlag value="0x00004000" name="Front Image Too Wide" description="The front image is too wide (possible capture device threshold error or piggyback). It is set if the image is greater than 9.2 inches."/>
          <BitFlag value="0x00008000" name="Front Image Too Short" description="The front image is too short (possible capture device threshold error, torn document, or a zip-strip ran through the capture device by itself). It is set if the image is less than 2.4 inches."/>
          <BitFlag value="0x00010000" name="Front Image Too Tall" description="The front image is too tall (possible capture device threshold error, or gross piggyback situation). It is set if the image is greater than 4.45 inches."/>
          <BitFlag value="0x00020000" name="Front Image Data Too Small" description="The resulting Group IV compressed data is too small, usually implying a nearly all white or all black document. The front image is set if the compression ratio is less than .00606."/>
          <BitFlag value="0x00040000" name="Front Image Data Too Large" description="The resulting Group IV compressed data is too small, implying a very, very busy document that may be unreadable. The image looks like snow with many black dots. The image actually increases in size when compressing. Front images are set if the compression ratio is greater than 1.5."/>
          <BitFlag value="0x00080000" name="Back Image Too Narrow" description="The back image is not wide enough (may be cropped). It is set if the image is less than the minimum width of 5.5 inches."/>
          <BitFlag value="0x00100000" name="Back Image Too Wide" description="The back image is too wide (possible capture device threshold error or piggyback). It is set if the image is greater than 9.2 inches."/>
          <BitFlag value="0x00200000" name="Back Image Too Short" description="The back image is too short (possible capture device threshold error, torn document, or a zip-strip ran through the capture device by itself). It is set if the image is less than 2.4 inches."/>
          <BitFlag value="0x00400000" name="Back Image Too Tall" description="The respective image is too tall (possible capture device threshold error, or gross piggyback situation). It is set if the image is greater than 4.45 inches."/>
          <BitFlag value="0x00800000" name="Back Image Data Too Small" description="The resulting Group IV compressed data is too small, usually implying a nearly all white or all black document. The back image is set if the compression ratio is less than .00364."/>
          <BitFlag value="0x01000000" name="Back Image Data Too Large" description="The resulting Group IV compressed data is too small, implying a very, very busy document that may be unreadable. The image looks like snow with many black dots. The image actually increases in size when compressing. Back images are set if the compression ratio is greater than 1.5."/>
          <BitFlag value="0x02000000" name="Front Has Streaks" description="The front image has horizontal black banding across its surface. Usually, it is a capture device camera problem (stuck pixel in the camera). This test is set if there is a perfectly horizontal non-breaking line of black pixels from the absolute left side to the absolute right side of the document one pixel wide."/>
          <BitFlag value="0x04000000" name="Back Has Streaks" description="The back image has horizontal black banding across its surface. Usually, it is a capture device camera problem (stuck pixel in the camera), or there is a carbon band on the back. This test is set if there is a perfectly horizontal non-breaking line of black pixels from the absolute left side to the absolute right side of the document one pixel wide."/>
          <BitFlag value="0x08000000" name="Front Back Ratio Excessive" description="This implies that the dimensions of the front and back images don’t match up. Either the front or the back image usually has an edge detection problem. It is set if the width or height of the image is more than .5 inches different."/>
          <BitFlag value="0x10000000" name="May Be Wrong Image" description="The image-read MICR line doesn’t appear to match the supplied data for the image. If the DREAM-read MICR line doesn’t match the supplied MICR data by at least 60% it is flagged."/>
          <BitFlag value="0x20000000" name="Image Upside Down" description="The MICR line is read on the top half of the document. It is set if DREAM reads the MICR line on the top edge (upside down) of the front image."/>
          <BitFlag value="0x40000000" name="Image Is Backwards" description="The MICR line is read on the back of the document. It is set if DREAM reads the MICR line on the back image of the document."/>
        </BitFlags>
      </BitFlagGroup>
      <BitFlagGroup name="IQA2 Tests">
        <BitFlags>
          <BitFlag value="0x00000001" name="Upper Left Corner Missing" description="No black/white transitions were detected in the respective areas. Calculates the square inches that are missing in each corner. It is set if more than .5 inches in the upper left corner, .25 inches in the upper right corner and .15 inches in the lower left and lower right corners are detected."/>
          <BitFlag value="0x00000002" name="Lower Left Corner Missing" description="No black/white transitions were detected in the respective areas. Calculates the square inches that are missing in each corner. It is set if more than .5 inches in the upper left corner, .25 inches in the upper right corner and .15 inches in the lower left and lower right corners are detected."/>
          <BitFlag value="0x00000004" name="Upper Right Corner Missing" description="No black/white transitions were detected in the respective areas. Calculates the square inches that are missing in each corner. It is set if more than .5 inches in the upper left corner, .25 inches in the upper right corner and .15 inches in the lower left and lower right corners are detected."/>
          <BitFlag value="0x00000008" name="Lower Right Corner Missing" description="No black/white transitions were detected in the respective areas. Calculates the square inches that are missing in each corner. It is set if more than .5 inches in the upper left corner, .25 inches in the upper right corner and .15 inches in the lower left and lower right corners are detected."/>
          <BitFlag value="0x00000010" name="Signature Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000020" name="CAR Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000040" name="LAR Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000080" name="Payee Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000100" name="Payor Name Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000200" name="Payor Bank Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000400" name="Date Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00000800" name="Serial Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00001000" name="Memo Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00002000" name="Customer Endorsement Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00004000" name="Bank Endorsement Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00008000" name="Transit Endorsement Not Usable" description="The specified area is either blank, does not have enough ‘connectedness’ (i.e., handwriting), or has too many black blobs. This test is looking at areas for vertically connected pixels, such as handwriting."/>
          <BitFlag value="0x00010000" name="Has Strip" description="The item seems to have a zip-strip on the bottom, due to reading two MICR lines from the face. (It may be in a document carrier as well). This test is set if DREAM reads two MICR lines, one in the normal position, and one in the highline MICR area or in a carrier."/>
          <BitFlag value="0x00020000" name="Item Skewed In Carrier" description="The item seems to be in a document carrier, and it is rotated inside the carrier, resulting in a normalized image but the actual check is rotated. This test is set if DREAM reads two MICR lines as above, but the upper MICR line is excessively skewed more than 2.3 degrees, while the lower MICR line is less than 2.3 degrees."/>
        </BitFlags>
      </BitFlagGroup>
    </BitFlagCollection>
  </BitFlagConfiguration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
</configuration>
